
@mixin card($bg-color){
  box-shadow: gray 3px 3px 8px;
  background-color: $bg-color;
}



$accent: #3A612D;

$highlight: #D2F0FA;

$brand:dodgerblue;



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:$brand;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;;
}

.cta-container {
  margin: 1rem auto;
  padding: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.cta {
  @include card(#C0FABE);
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  justify-content: center;
  align-items: space-around;
  margin: 1rem;
  img {
  max-width: 300px;
}

a{
   text-decoration: none;
   color:black;
}
}



article:first-of-type{
  @include card($highlight)
}








footer {
  background-color: $highlight;
  padding: 1rem;
}

input[type="submit"]{
  border-radius: .5rem;
  color:white;
  background-color:#3a612d;
}







ul li:nth-child(2) a:link{
  color:#3A612D;
}

ul li:nth-child(2) a:hover{
  text-shadow: 5px 5px 5px #888888;;
}

ul li:nth-child(2) a:visited{
  color:$brand;
}


p.storyBook::first-letter{
  font-size: 200%;
}

.highlightBackground{
  background-color:#D2F0FA;
}


