body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2D5461;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;;
}

.cta-container {
  margin: 1rem auto;
  padding: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.cta {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  justify-content: center;
  align-items: space-around;
  box-shadow: gray 3px 3px 8px;
  background-color: #C0FABE;
  margin: 1rem;
}

.cta a:link{
   text-decoration: none;
   color:black;
}

.cta a:visited{
   text-decoration: none;
   color:black;
}



.cta img {
  max-width: 300px;
}

footer {
  background-color: #D2F0FA;
  padding: 1rem;
}

input[type="submit"]{
  border-radius: .5rem;
  color:white;
  background-color:#3a612d;
}



.accent {

  color:#3A612D;

}


.highlight {

  color:#D2F0FA;

}


.brand {
  color:#2D5461;
}

ul li:nth-child(2) a:link{
  color:#3A612D;
}

ul li:nth-child(2) a:hover{
  text-shadow: 5px 5px 5px #888888;;
}

ul li:nth-child(2) a:visited{
  color:#2D5461;
}


p.storyBook::first-letter{
  font-size: 200%;
}

.highlightBackground{
  background-color:#D2F0FA;
}


